.dashboard-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
    gap: 10px;
    padding: 20px;
    font-family: "Lucida Console", "Courier New", Monaco, monospace;
}

.profile-sidebar {
    background: rgba(26, 26, 26, 0.8);
    border: 2px solid var(--hd-yellow);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-frame {
    width: 100%;
    min-height: 150px;
    max-height: 200px;
    border-radius: 5%;
    border: 2px solid var(--hd-yellow);
    margin-bottom: 15px;
    /* background-image: var(--body-bg-image);
    background-size: cover;
    background-position: center; */
}

.profile-pic {
    width: 100%;
    min-height: 150px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5%;
}

.profile-info {
    font-family: "Lucida Console", "Courier New", Monaco, monospace;
    color: var(--hd-white);
    text-align: left;
    margin: 5px 0;
}

/* El cuadro de información con estilo de monitor táctico */
.info-square {
    border: 2px solid var(--hd-yellow);
    background: rgba(26, 26, 26, 0.8);
    padding: 20px;
    height: 70vh;
    overflow-y: auto;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 95%, 95% 100%, 0 100%); /* Corte en la esquina */
}

.typing-wrapper {
    font-family: inherit; /* O tu fuente de Helldivers */
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    color: var(--hd-white);
}

.style-title {
    color: var(--hd-yellow);
    font-weight: bold;
    display: block; /* Para que el título ocupe su propia línea */
}

.style-meta {
    color: #ffffff;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.style-desc {
    color: #e0e0e0;
    display: block;
    margin-bottom: 15px;
}

/* El cursor ahora debe heredar el color del contenedor o ser amarillo por defecto */
.typing-cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background-color: var(--hd-yellow);
    margin-left: 2px;
    animation: blink 0.8s step-end infinite;
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

.tab-btn {
    background-color: var(--hd-black);
    border: 1px solid var(--hd-yellow);
    color: var(--hd-white);
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.tab-btn.active, .tab-btn:hover {
    background: var(--hd-yellow);
    color: var(--hd-black);
    font-weight: bold;
}

.cv-frame {
    width: 100%;
    height: 100%;
    border: none;
}